:local {
  b {
    font-weight: 400;
  }

  .article {
    width: 100%;
  }

  .articleTitle,
  .articleTitleSkeleton {
    font-size: 36px;
    font-weight: 300;
    margin: 0;
    display: inline;
  }

  .articleTitleSkeleton {
    display: inline-block;
  }

  .articleTitleSkeleton {
    width: 250px;
    height: 40px;
  }

  .articleContent {
    font-size: 18px;
    font-weight: 300;
  }

  .subTitleSkeleton {
    display: block;
    width: 400px;
    height: 31px;
  }

  .paragraphSkeleton {
    height: 24px;

    &.long {
      width: 90%;
    }

    &.medium {
      width: 76%;
    }

    &.short {
      width: 47%;
    }

    &.date {
      width: 210px;
      display: block;
    }
  }

  .date {
    margin-top: 0;
    margin-bottom: 1.8675rem;
    font-weight: 100;
    font-style: italic;
    color: #777;
  }

  .passageNav {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }

  .headphones {
    path {
      fill: #333;
    }
  }

  .audioLink {
    margin-left: 12px;
  }

  .articleTitleSkeleton,
  .subTitleSkeleton,
  .paragraphSkeleton {
    border-radius: 2px;
    background: linear-gradient(to right, #fbfbfb 0, #f4f4f4 50%, #fbfbfb);
    background-size: 1000px;
    animation: loading 2s linear 0s infinite;
  }

  @media only screen and (max-width: 900px) {
    .articleTitle,
    .articleTitleSkeleton {
      font-size: 32px;
    }
  }
}

@keyframes loading {
  0% {
    background-position: -1000px 0;
  }

  100% {
    background-position: 1000px 0;
  }
}
