:local {
  .article {
    width: 100%;
  }

  .articleTitle {
    margin-top: 0;
    font-size: 36px;
    font-weight: 300;
  }

  .articleContent {
    font-size: 18px;
    font-weight: 300;
  }

  @media only screen and (max-width: 900px) {
    .articleTitle {
      font-size: 32px;
    }
  }
}
