:local {
  .component section {
    padding: 150px 0;

    p {
      font-size: 20px;
      font-weight: 300;
    }
  }

  .toast {
    padding: 0 24px;
    background-color: #53a1b3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f8f8f8;
    border-bottom: 1px solid darken(#53a1b3, 10%);
  }

  .main {
    height: 100vh;
    background: url('../img/hero-bg.jpg') fixed center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }

  /* Header style override */
  .header {
    margin-top: 44px;
    border-bottom: none;
  }

  .mainContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-basis: 60%;
  }

  .title {
    font-size: 60px;
    margin: 0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.03);
    text-align: center;
  }

  .lead {
    font-size: 22px;
    letter-spacing: 0.03em;
    margin: 8px 0;
    font-weight: 300;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #333;
  }

  .logo {
    width: 50px;
    height: 100%;
    margin: 0;
  }

  .introContent {
    max-width: 700px;
  }

  .serviceInfo {
    background-color: #f8f8f8;
  }

  .serviceInfoContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .imageContainer {
    max-width: 680px;
  }

  .serviceInfoImage {
    max-width: 100%;
    padding: 10px;
    background-color: #fbfbfb;
    border: 1px solid #ececec;
    transform: rotate(-7deg);
    margin-left: -110px;
    margin-top: -240px;
  }

  .serviceInfoContent {
    flex-shrink: 0;
    margin-right: 48px;
  }

  .keyVerseContent {
    text-align: center;
  }

  .verse {
    font-weight: 300;
    font-style: italic;
    font-size: 32px;
    letter-spacing: 0.02em;
  }

  .reference {
    letter-spacing: 0.08em;
  }

  .fadeInDown {
    animation-duration: 1s;
    animation-name: fadeInDown;
    animation-fill-mode: both;
  }

  .fadeInUp {
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-name: fadeInUp;
    animation-fill-mode: both;
  }

  @media only screen and (max-width: 992px) {
    .serviceInfo {
      background-image: url('../img/bible.jpg');
      background-position-x: center;
    }

    .imageContainer {
      display: none;
    }

    .serviceInfoContainer {
      justify-content: flex-end;
    }

    .serviceInfoContent {
      flex-shrink: 1;
    }
  }

  @media only screen and (max-width: 900px) {
    .header {
      margin-top: 0;
    }

    .title {
      font-size: 48px;
    }

    .lead {
      font-size: 18px;
    }

    .main {
      background-attachment: scroll;
      background-position: initial;
    }

    .mainContent {
      margin-top: 0;
      padding: 0 24px;
    }
  }

  @media only screen and (max-width: 424px) {
    .serviceInfoContainer {
      justify-content: flex-start;
    }

    .serviceInfoContent {
      margin-right: 0;
    }
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
