:local {
  .component {
    height: 100vh;
  }

  .hero {
    height: 100%;
    background: url('../img/hero-bg.jpg') fixed center center;
    background-size: cover;
    display: flex;
    justify-content: center;
  }

  .heroContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -50px;
  }

  .title {
    font-size: 48px;
    margin: 0;
  }
  
  .lead {
    font-size: 18px;
    letter-spacing: 0.03em;
    margin: 12px 0;
  }

  .navContainer {
    width: 100%;
    margin: 50px auto 0;
    max-width: 1300px;
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
  }

  .navBarBrandContainer {
    display: flex;
    align-items: center;
    margin: 8px 0;
  }

  .navBarBrand {
    margin-left: 10px;
    font-size: 18px;
    font-family: 'architects daughter' -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    letter-spacing: 0.015em;
  }
  
  .logo {
    width: 48px;
    height: 100%;
    margin: 0;
  }

  .homeSection {
    padding: 150px 0;
  }
  
  .container {
    max-width: 1200px;
    padding: 0 32px;
    margin: 0 auto;
  }

  .sectionTitle {
    font-size: 32px;
  }

  .sectionContent {
    font-size: 20px;
    font-weight: 300;
  }

  .introContent {
    max-width: 680px;
  }

  .serviceInfo {
    background-color: #f8f8f8;
  }

  .serviceInfoContainer {
    display: flex;
    justify-content: flex-end;
  }

  .serviceInfoContent {
    margin-right: 128px;
  }

  .keyVerseContent {
    text-align: center;
  }

  .verse {
    font-weight: 300;
    font-style: italic;
    letter-spacing: .02em;
  }
}