:local {
  .component {
    width: 240px;
    max-width: 300px;
    font-size: 18px;
    line-height: 2;
    
    a {
      color: #555;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}