:local {
  .component {
    width: 240px;
    max-width: 300px;
    font-size: 18px;
    line-height: 2;

    a {
      color: #555;

      &:hover {
        text-decoration: underline;
      }
    }

    .active {
      font-weight: 600;
    }
  }

  @media only screen and (max-width: 900px) {
    .component {
      margin-bottom: 48px;
      padding: 8px 0 0 16px;
      width: auto;
      max-width: initial;

      a {
        font-size: 16px;
        display: block;
        width: fit-content;

        &:hover {
          text-decoration: none;
        }

        &.active::before {
          content: '❯ ';
          font-weight: 400;
        }
      }
    }
  }
}
