:local {
  .component {
    width: 100%;
    padding: 16px 0;
    border-bottom: 1px solid #e8e8e8;
  }

  .navContainer {
    width: 100%;
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .brandContainer {
    display: flex;
    align-items: center;
    margin: 8px 0;
    height: 27px;
  }

  .brand {
    margin-left: 10px;
    color: #555;
    font-size: 18px;
    font-family: 'architects daughter' -apple-system, BlinkMacSystemFont,
      Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
      Helvetica Neue, sans-serif;
    letter-spacing: 0.015em;

    &:hover {
      text-decoration: none;
    }
  }

  .brandName {
    margin-left: 10px;
  }

  .logo {
    width: 48px;
    height: 100%;
    margin: 0;
  }

  @media only screen and (max-width: 440px) {
    .brandName {
      display: none;
    }
  }
}
