:local {
  .component {
    padding-top: 150px;
    border-top: 1px solid #85d5ff;
    background-color: #00547f;
    color: #fff;

    a {
      color: #85d5ff;
    }
  }

  .brandContainer {
    display: flex;
    align-items: center;
    margin: 8px 0;
  }

  .brand {
    margin-left: 10px;
    font-size: 20px;
    font-family: 'architects daughter' -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    letter-spacing: 0.015em;
  }

  a.brand {
    color: #fff;
  }
  
  .logo {
    width: 32px;
    height: 100%;
    margin: 0;
  }

  .footerContent {
    display: flex;
    margin-bottom: 80px;
  }

  .left {
    width: 40%;
  }

  .socialLinkIcon {
    width: 32px;
  }

  .component address {
    font-style: normal;
    margin: 16px 0;

    span {
      display: block;
    }
  }

  .copyright {
    text-align: center;
    padding: 16px 0;
    font-weight: 300;
  }
}