:local {
  .component {
    padding-top: 150px;
    border-top: 1px solid #e8e8e8;
  }

  .footerContent {
    display: flex;
    margin-bottom: 100px;
  }

  .socialLinkIcon {
    width: 32px;
  }

  .component address {
    font-style: normal;

    span {
      display: block;
    }
  }

  .copyright {
    text-align: center;
    padding: 24px 0;
    border-top: 1px solid #e8e8e8;
  }
}