* {
  box-sizing: border-box;
}

html {
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  color: #676767;
}

h1, h2, a {
  color: #333;
}

h1 {
  font-size: 36px;
}

a {
  text-decoration: none;
}

a, button {
  transition: all 0.2s ease-in-out;
}