:local {
  .component {
    ul {
      display: grid;
      grid-auto-flow: column;
      column-gap: 32px;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      margin: 0;
    }

    a:hover {
      color: darken(#555, 20%);
    }
  }
}