:local {
  .component {
    display: flex;

    ul {
      display: grid;
      grid-auto-flow: column;
      column-gap: 32px;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      margin: 0;
    }

    a {
      color: #555;

      &:hover {
        color: darken(#555, 20%);
        text-decoration: none;
      }
    }
  }

  .navbarToggle {
    border: none;
    cursor: pointer;
    background: none;
    padding: 0;
    display: none;
  }

  .hamburgerLine {
    height: 3px;
    width: 24px;
    display: block;
    background-color: #555;

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

  @media only screen and (max-width: 800px) {
    .navbar {
      opacity: 0;

      ul {
        display: none;
      }
    }

    .navbarToggle {
      display: block;
    }

    .navbarToggleShow {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      padding: 0 32px;
      border-bottom: 1px solid #e8e8e8;
      background: #fff;
      opacity: 1;
      transition: opacity 0.3s 0.1s;
      margin-top: 46px;

      ul {
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;
      }

      li {
        margin: 12px 0;
      }
    }
  }
}
